# Dependencies
node_modules/

# Production builds
dist/
coverage/

# Environment files
.env
.env.local
.env.development
.env.production
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Private files
*.pem
*.key

# Operating system files
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo